# Build output
build/
out/
cmake-build-*/

# IDE
.vs/
.vscode/
*.user

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Compiler artifacts
*.exe
*.pdb
*.obj
*.ilk
*.exp
*.lib

# OS junk
Thumbs.db
desktop.ini
a.out
